.flows.json.backup
[
    {
        "id": "269871c9ce327a4f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21545d428a090564",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f7f4d635cd6cc9f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "631e4c197115fc8c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f669b575a958c6b6",
        "type": "ui_group",
        "name": "DHT",
        "tab": "f7f4d635cd6cc9f2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49b108bf8d747b49",
        "type": "mqtt in",
        "z": "269871c9ce327a4f",
        "name": "",
        "topic": "/Thinkitive/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "21545d428a090564",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "3dfc312ba99e7cea",
                "534562fc5e122807",
                "a17cece1baaf4455"
            ]
        ]
    },
    {
        "id": "3dfc312ba99e7cea",
        "type": "ui_gauge",
        "z": "269871c9ce327a4f",
        "name": "TEMP",
        "group": "f669b575a958c6b6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "065b33f69fcaab56",
        "type": "mqtt in",
        "z": "269871c9ce327a4f",
        "name": "",
        "topic": "/Thinkitive/hum",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "21545d428a090564",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "68d68f6349c0f682",
                "534562fc5e122807",
                "74067c57639ce34e"
            ]
        ]
    },
    {
        "id": "68d68f6349c0f682",
        "type": "ui_gauge",
        "z": "269871c9ce327a4f",
        "name": "HUM",
        "group": "f669b575a958c6b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "3b2db90bdd627258",
        "type": "ui_button",
        "z": "269871c9ce327a4f",
        "name": "ON",
        "group": "f669b575a958c6b6",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "6285db9271bafa66"
            ]
        ]
    },
    {
        "id": "6285db9271bafa66",
        "type": "mqtt out",
        "z": "269871c9ce327a4f",
        "name": "",
        "topic": "/Thinkitive/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21545d428a090564",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "42fd47d56cb2829e",
        "type": "ui_button",
        "z": "269871c9ce327a4f",
        "name": "OFF",
        "group": "f669b575a958c6b6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "6285db9271bafa66"
            ]
        ]
    },
    {
        "id": "a0a66f84e35bf3a6",
        "type": "ui_button",
        "z": "269871c9ce327a4f",
        "name": "R-ON",
        "group": "f669b575a958c6b6",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "5758a0a08c14c80f"
            ]
        ]
    },
    {
        "id": "d9c7576efa255b91",
        "type": "ui_button",
        "z": "269871c9ce327a4f",
        "name": "R-OFF",
        "group": "f669b575a958c6b6",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ROFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "5758a0a08c14c80f"
            ]
        ]
    },
    {
        "id": "5758a0a08c14c80f",
        "type": "mqtt out",
        "z": "269871c9ce327a4f",
        "name": "",
        "topic": "/Thinkitive/relay",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21545d428a090564",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "534562fc5e122807",
        "type": "json",
        "z": "269871c9ce327a4f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "8f7d43cb5d99d4ed"
            ]
        ]
    },
    {
        "id": "8f7d43cb5d99d4ed",
        "type": "debug",
        "z": "269871c9ce327a4f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "a17cece1baaf4455",
        "type": "ui_gauge",
        "z": "269871c9ce327a4f",
        "name": "TEMP",
        "group": "f669b575a958c6b6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "74067c57639ce34e",
        "type": "ui_gauge",
        "z": "269871c9ce327a4f",
        "name": "HUM",
        "group": "f669b575a958c6b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 280,
        "wires": []
    }
]